<%= stylesheet_link_tag 'feed_style', media: 'all', 'data-turbolinks-track' => true %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/account_style.css">
    <title>PIX</title>
</head>
<body>
    <div class="back-to-top-container back-to-top-container--intersecting" data-controller="viewport-entrance-toggle" data-viewport-entrance-toggle-class="back-to-top-container--intersecting">
  <button class="back-to-top__button button" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">Back to top</button>
</div>
    <header class="page_header">
        <navigation class="page_navigation">
            <div class="navigation_container_left">
                <%= button_to "PIX", "/feed", class: "logo", method: :get%>
                <%= button_to "", "/upload", class: "new_post_button", method: :get%>
            </div>
            <div class="navigation_container_center">
                <input class="search_bar" type="text" placeholder="ok, guys, i guess that's it!">
            </div>
            <div class="navigation_container_right">
                <%= button_to "Logout", logout_path, method: :delete %>
                <p class="small_nick"><%if @user%>
				<%= @user.nickname%>
				<% end %></p>
                <%= button_to "/home", class: "small_avatar", method: :get do%>
                    <%= image_tag("https://robohash.org/" + @user.nickname + ".png") %>
                <% end %>
            </div>
        </navigation>
        <div class="profilecover">
            <div class="tags_head">
                <p class="explore_tags">
                    EXPLORE TAGS
                </p>
                <p class="more_tags">
                    MORE TAGS +
                </p>
            </div>
            <div class="tags">
                <a href="/mentalhealth" class="tag">
                    <div class="tag_title">
                        <h2>
                            Mental
                            Health
                        </h2>
                        <p class="posts_amount">
                            9,721 Posts
                        </p>
                    </div>
                </a>
            </div>
    </div>
    </header>
    <section class="main_content">
        <%@pictures.each do |picture|%>
            <div class="post">
                <%= image_tag  picture.image, class: "post_image" %>
                <div class="post_info">
                    <span class="post_description">
                        <%= picture.description %>
                    </span>
                </div>
              <span class="post_description">
						    <%= picture.user.nickname %>
					    </span>
            </div>
        <%end%>
	  </section>
</body>
</html>
