<%= stylesheet_link_tag 'upload_style', media: 'all', 'data-turbolinks-track' => true %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/account_style.css">
	<title>PIX</title>
</head>
<body>
    <div class="upload_wrapper">
        <div class="upload_dragdrop">
            <p class="upload_dragdrop_text">
                Drop images here
            </p>
            
        </div>
        <div class="upload_choose">
            <%= form_tag '/upload', class: "upload_form", multipart: true do -%>
            <%= file_field_tag "photo[image]", class: "filefield", accept: ".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif,.bmp,.xcf,.webp" %>
            <%= text_field_tag "photo[description]", "",  class: "description"%>
            <%= button_to "Upload", "/upload", class: "submit", method: :post %>
            <% end %>
        </div>
    </div>
</body>
</html>
